
.card-file{
    background-color: #fdfdfd;
}

.card-file_col{
    position: relative;
}
.card-file_col a{
    font-size: 8em;
    background-color: #fdfdfd;
}

.span_pay_g,.span_pay_p{
    position: absolute;
    color: #e1e1ec;
}
.span_pay_g{
    background-color: green;
    top: 4.5em;
    left: 4.0em;
    padding: 0.0em 0.5em;
    transform: translateY(-10px) rotate(45deg);
}
.span_pay_p{ 
    background-color: #ffa500; 
    top: 3.8em;
    left: 4.1em;
    padding: 0.0em 1.1em;
    transform: translateY(0px) rotate(46deg);
}

.span_extension{
    font-family: 'Candara';
    position: absolute;
    top: 7em;
    left: 3em;
    color: white;
    font-size: 1.1em;
}

.file_describe{
    position: absolute;
    top: 3.0em;
    left: 7.5em;
}

.file_describe span{
    display: block;
    text-align: justify;
}

.p_small{
    font-size: 0.7em;
}

.p_download{
    font-family: Candara !important;
    font-size: 0.9em !important;
}


/* show file */
.fa_file{
    font-size: 10em;
}

.card_show_file{
    position: relative;
    border-left: 5px solid #32e4cd!important;
}

.show_file_span_extension{
    position: absolute;
    top: 9em;
    color: white;
    left: 6em;
}

.badge-dark-file{
    font-size: 0.9em;
}

.btn_download{
    color:#ffff;
}

.btn-pay{
    color: rgb(162, 173, 162);
    background: #ffe924 !important;
}

.color_v{
    color:#2176bd;
}
.h3{
    color: #999999;
    font-weight: bold;
    font-size: 20px;
}
/* .text-left a{
    color : black !important;
} */

/* Format mobile */
@media screen and (max-width: 1024px)
{
    /* Rédigez vos propriétés CSS ici */
   
    .show_file_span_extension{
        left: 12em;
    }
}