.card-header{
    /* border-bottom: 3px solid rgba(0,0,0,.125); */
    font-size: x-large;
    text-align: center;
    /* color: #e39d0d; */
    background-color: white !important;
    font-weight: inherit;
    border-style: none !important;
}

.card{
    margin-top: 3rem;
    border-style: none !important;
}

/* .card-body{
    padding: 3.25rem !important;
} */

.btn-auth{
    background-color :#008080 !important;
    border-style:none !important;
}

/* .fa{
    margin: 2%;
} */

.choice_compte{
    /* border: 1px 1px 1px 1px solid #00ab80; */
    border:1px solid #00ab80;
    padding: 30px;
    margin: 2%;
}

.row_student_teacher{
    margin-top: 3%;
}

.card_student_teacher{
    margin-top: 2.5rem;
}

.compte_student_teacher{
    /* padding: 3%; */
    margin-top: 2%;
    /* margin-right: 2%; */

    /* margin: 1%; */
    /* margin-left:25%; */
}

.compte_student_teacher > a:hover{
   text-decoration-line: none;
}

.title_choice_compte{
    font-family: 'Century Gothic','Sans-serif';
}

.title_choice_p{
 font-size: 0.8rem;
 color: #787878;
}

.p_compte, .p_compte_type{
    color:#7f8897;
}

.p_compte{
    font-size: .7rem;
}

.p_color_88{
    font-size: 0.5em !important;
    color: #787878 !important;
}

.compte_etudiant{
    border: 3px solid cadetblue;
    /* background-color: cadetblue; */
}

.compte_teacher{
    border: 3px solid darkseagreen;
    /* background-color: darkseagreen; */
}

.col-md-3 > p{
    padding-top: 9%;
}

.row_univ{
    margin-top: 10%;
    margin-bottom: 2%;
}

.profile-avatar{
    width: 200px;
    height: 200px; 
    border-radius: 50%;
}

/* .user-profil{
    margin-top: 1.5rem;
    margin-left: 6em;
} */


/* Menu se connecter */
.btn_seconnecter{
    color:#6c757d !important;
}

.btn_seconnecter:hover{

    color:#6c757d !important;
    background-color: none !important;
    border-color: none !important;
    box-shadow: inherit !important;
}

.form-text{
    box-shadow: 0 2px 5px 2px rgba(120,120,120,.2),0 1px 1px 0 rgba(120,120,120,.3);
}

.logo-img-fluid{
    max-width: 60% !important;
}


@media screen and (max-width: 1024px)
{
    .avatar_profile_navbar{
        left: 0.1em !important;
    }

    .user_name_link{
        padding-top: 0.7em !important;
        padding-left: 2.4em !important;
    }
}
