.text-acceuil{
    color: #e74d4e;
}

.text_user_name{
    font-weight:bold; 
}

.badge_student{
    background-color: #e39d0d;
    font-size: 0.6em;
}

.badge_teacher{
    background-color: #3b9606;
}

.badge_univ{
    background-color:#00aae6;
}

.badge_student,.badge_teacher,.badge_univ{
    color: white;
}

.hr_active{
    border: 1px solid #e74d4e;
    background: #e74d4e  !important;
}
