.card-block{
    background-color: #fdfdfd;
    /* #f8fbfc; */
    padding: 0px 50px;
}


.card-publishing{
    position: relative;
    height: 560px;
    background-color: white;
    color: black;
    /* margin-bottom: 10px; */
}

.card-publishing-bienvenue{
    margin-bottom: 15px;
    /* margin-left: 50px; */
}

.card-user{
    position: absolute;
    top: -25px;
    left: -20px;
}

.card_img_default{
    margin-left: 50px;
}

.card_university_inst_u,.card_university_inst_i,.card_university_inst_a,.card_university_inst_o{
    position: absolute;
    top: -24px;
    left: -14px;
    font-size: 1.7em;
    border-radius: 50%;
    color: white;
    padding: 0em 0.5em;
}


.card_university_inst_u{background: #008080;}
.card_university_inst_i{background: #e74d4e;}
.card_university_inst_a{background: #e39d0d;}
.card_university_inst_o{background: #636b6f;}

.card-title{
    position: absolute;
    top: -10px;
    left: -25px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.card-date{
    /* top: -19px; */
    left: 73px;
   color: #a9a9a9;
   font-size: 0.7rem;
}
.card-describe{
    /* position: absolute;
    top: 60px; */
    text-align: justify;
}


.card-describe > img{
    background: linear-gradient(-225deg (30,30,30,1)30%,(30,30,30,1)70%) !important;
}


.card-describe-p{
    color: #787878;
    margin-top: 1em;
}

/* .card-describe-img{
    position: absolute;
     height: 200px;
    background-size: cover;
    background: linear-gradient(-225deg,rgba(30,30,30,0.6)30%,rgba(30,30,30,0.6)30%)
} */

.card-stat{
    border-top: 1px solid rgba(0,0,0,.1);
} 

.card-stat p{
   cursor: pointer;
    padding: auto;
    font-size: 1.5em;
    color: #ccc;
}

.join_span{
    left: 4rem !important;
}

#join_ajax {
    position: relative !important;
}

#join_ajax  span{
    position: absolute;
    top: 1.5rem;
    font-size: .7rem;
    font-family: 'Century Gothic';
    text-align: center;
    left: 5rem;
}

.join_ajax  span{
    position: absolute;
    top: 1.5rem;
}

.stat-color{
    color:#6f42c1 !important;
    /* #192735 */
}

.menu_icon a{
    /* padding: 1%; */
    font-size: 2.0em;
    position: relative;
}

/* .menu_icon a:nth-child(1){color: #e39d0d;}  #0aae80*/
.menu_icon a:nth-child(2){color: #636b6f;}
.menu_icon a:nth-child(3){color: #0aae80;}
.menu_icon a:nth-child(4){color: #ffa500;}

.mss1{
    position: relative;
    padding: 1em, 0;
    color: black;
    /* background: darkgrey; */
}

.mss1::after{
    clear: both;
    display: block;
}

.menu_s_student{
   position: absolute;
   background: rgba(10,10,10,0.7);
   top:100%;
   left: 0%;
   height: 0;
   overflow: hidden;
   z-index: 344334;
}

.menu_s_student_open{
    height: auto;
}

.menu_s_student ul{
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu_s_student li{
    border-bottom: 1px solid #575766;
}

.menu_s_student li:last-child{
    border-bottom: none;
}



.menu_s_student a{
    display: block !important;
    padding: 2em 6em !important;
    color: white !important;
    text-decoration: none !important;
}

/* .fa-plus {color: #ffa500 !important;} */
/* .fa-pencil{color: #1d68a7 !important;} */

.fa_icon_st{
    display: inline;
    font-size: 1em;
    margin-right: 1em;
}

/* .menu_s_student a:hover,
.menu_s_student a:focus
{
   background: #e0b36a;
   color: white;
} */

/* .menu_secondaire_student{
    padding-right: 15px;
    /* border-right: 1px solid lightslategray; */
/* } */

.menu_secondaire_student > li{
    padding: 1rem 2rem;
}
.menu_secondaire_student > li > a{
    color: lightslategray;
    margin-left: 2px;
} 

.menu_toggle{
    padding: 1.1em;
    position: absolute;
    top:1em;
    left:.0em;
    cursor: pointer;
}

.menu_toggle_unroll,
.menu_toggle_unroll::before,
.menu_toggle_unroll::after
{
    content: '';
    display: block;
    background: #008080;
    height: 3px;
    width: 1.6em;
    border-radius: 3px;
    transition: all ease-in-out 400ms;
}

.menu_toggle_unroll::before{
    transform: translateY(-6px);
}

.menu_toggle_unroll::after{
    transform: translateY(3px);
}

.open-menu .menu_toggle_unroll{
    transform: rotate(45deg);
}

.open-menu .menu_toggle_unroll::before{
    opacity: 0;
}

.open-menu .menu_toggle_unroll::after{
    transform: translateY(-3px) rotate(-90deg);
}

/* .menu_secondaire_student > li > a > span{
   padding: auto;
   font-size: 15px;
}

.link_achat_suppport{
    color: white !important;
    padding: 1rem 1rem;
}

.menu_secondaire_student >li:first-child{
    border-radius: 0px 60px 60px 0px;
} */


.card-describe img{
    background: linear-gradient(-225deg,rgba(30,30,30)30%,rgba(30,30,30)70%);
}

/* cotation */
.ul_cotation{
    list-style: none;
}
.col_others{
    background-color: #f8fdf9;
}

.ul_cotation i{
    font-size: 30px;
    padding: 0.5em 0.3em;
}

.p_color_91,.p_color_78{
    font-size: 0.8em;
}

.p_color_91,.p_titile_article{
    color: #919191;
}

.p_color_75{
    font-weight: 1 !important;
    line-height: none !important;
    color: #b1aeae;
}

.p_color_78,.p_icon_info{
    color: #787878;
}

.p_icon_info{
    font-size: 0.35em;
}

.a_non_actif{
    color: #a6a6a6;
}

.badge_student_pfl{
    font-size: .9em !important;
    padding-bottom: .5em !important;
}

.p_title_news{
    font-size: 0.5em;
}

.p_stat{
    font-size: 0.5em !important;
    font-family: Century Gothic !important;
}

/* pour la premiere publication */

/* niveau xs, a revoir */
/* .card_img_default{
    /* margin-left: 50px; 
} */


/* Page teacher de l'université auquel appartient l'etudiant */
.avatar-teacher{
    border-radius: 50%;
    height: 3.9rem;
}

.data_student_teacher{
    margin-left: -25px;
}

.teacher_user_name{
    margin-top: -19px !important;
}

.a_non_actif_teacher{
    color:black !important;
}

.well{
    background-color: whitesmoke;
}

/* Fin */


/* Page pour la description du nombre d'articles d'un corsp professoral */
.fa_stat_article{
    font-size: 0.4rem !important;
}

.number_stat_article{
    font-size: 1rem !important;
}

.fa_color_t{
    color: #ca0cca;
}

.fa_color_l{
    color: #e3342f;
}

.fa_color_s{
   color: #4dc0b5;
}

.fa_color_m{
   color: #2845d3;
}

.fa_color_tp{
   color: #3490dc;
}

.fa_color_tf{
   color: #f6993f;
}


.fa_student span {
    position: absolute !important;
    top: 0.2rem !important;
    margin-top: -2px !important;
    font-size: 0.9rem !important;
    border-radius: 50% !important;
    left: 1.8rem !important;
    font-family: sans-serif !important;
    /* padding-top: 1px !important; */
     /* padding-left: 10px !important;  */
}

/*  bouton verification creation  teacher dans create teacher */
#a_droit{
    position:absolute;
    left: 34rem;
    top: 12rem;
}

#a_droit_text{
    position: absolute;
    left: 22rem;
    top: 17rem;
}




/* Fin */

/* class au pour les formats telephones */
@media screen and (max-width: 1024px)
{
    /* Rédigez vos propriétés CSS ici */
    .menu_icon a{
        /* padding: 1%; */
        font-size: 1.5em;
    }

    .menu_toggle{
        padding: 1.1em;
        position: absolute;
        top: 0.1em;
        left:.0em;
        cursor: pointer;
    }

    .menu_toggle_unroll,
    .menu_toggle_unroll::before,
    .menu_toggle_unroll::after
    {
        content: '';
        display: block;
        background: #008080;
        height: 2px;
        width: 1.3em;
        border-radius: 3px;
        transition: all ease-in-out 400ms;
    }

    .menu_s_student a{
        font-size: 0.8em;
    }

    .card-publishing,.card-publishing-bienvenue{
        margin-top: -84px;
    }

    .card-title{
        margin-left: 1em;
    }

    .card-date{
        margin-left: -3em;
    }

    .card-publishing-bienvenue{
        margin-bottom: 9em;
        /* margin-left: 50px; */
    }

    .size_m{
        margin-top: 0px;
        top: 30px;
    }

    .card_img_default{
        margin-left: 5px;
    }


    .col_others{
        top:-3rem;
    }
    

    .fa_student span {
        position: absolute !important;
        top: 0.2rem !important;
        margin-top: -2px !important;
        font-size: 0.75rem !important;
        border-radius: 50% !important;

        left: 1.2rem !important;
        font-family: sans-serif !important;
        /* padding-top: 1px !important; */
        /* padding-left: 6px !important; */
    }

    .join_span{
        left: 1.3rem !important;
    }


    /*  bouton verification teacher */
    #a_droit{
        position:absolute;
        left: 5rem;
        top: 15rem;
    }

    #a_droit_text{
        position: absolute;
        left: 0rem;
        top: 20rem;
        padding: 25px;
    }


    .recent_phone{
        margin-top: 9rem !important;
    }
    /* View Student_Teacher */
 
    /* .student_teacher{
        animation: blink .9s ease-in;
    }  */
    /* Fin View */
}



/* Gola */

.navbar{
    box-shadow: 0 2px 5px 0 rgba(61,65,96,.2),0 0 1px 0 rgba(61,65,96,.05);
}

.navbar-brand span:nth-child(4){
    position: absolute;
    width: 25px;
    height: 20px;
    background: #fff;
    top: -13px;
    right: 0;
    transform: rotate(25deg);
}
.nav-lib{
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background 0.3s ease-in-out,color 0.3s;
    /* font-weight: 600; */
    border-radius: 5px;
}
.nav-lib:hover,.nav-lib{
    background: #e74c3c;
    color: #ffff!important;
}

.sections .home{
    padding: 20px 0;
    
}
.home{
    
    height: 400px;
    background:url("/storage/uploads/images/img3.jpg")no-repeat ;
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0 , 0.4);
}

.home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    width: 100%;
    text-align: center;
}

.home .home-title{

    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
}
.swiper-button-next, .swiper-button-prev {

    position: absolute;
    top:23%;
    width: 40px;
    height: 29px;
margin-top: -140px;
align-self: center;
}

.slid{
    background:  url("/storage/uploads/images/7h.jpg")no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    background-position: center;
   
   

}

.suzy{
    background: #000;
 }

 .swiper-container{
    
        position:relative;
        z-index: 1;
 }
.imgbx::before{
    
        left: -5px;
        top: 167px;
        width: 280px;
        height: 4px;
        background: #aaa;
    
        border-radius: 140px / 2px;
        box-shadow: 0 0 5px #aaa, 0 0 10px #888, 0 0 15px #666,
        0 0 65px #cdbe9f inset, 0 0 20px #beae8c inset, 0 0 5px #816f47; 
        display: none;
        
    }
    
    .imgbx::after {
        left: 8px;
        top: 168px;
        width: 255px;
        height: 2px;
        background: #666;
        
        border-radius: 125px / 1px;
        box-shadow: 0 0 5px #444, 0 0 8px #333, 0 0 10px #666;
        display: none;
    }

    


.swiper-pagination-bullet{

    display: inline;
}

.swiper-button-next, .swiper-button-prev {

    position: absolute;
    top:23%;
    width: 50px;
    height: 29px;
    margin-top: -240px;
    align-self: center;
}




