/* body */
.cr{
    margin: 0;
    padding: 0;
    background:  top center / cover url("/storage/uploads/images/enfin plan2.JPG");
    height: 300px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.cr .main-content{
    width:50%;
    position: relative;
    left: 5rem;
}
    .cr .main-content img{
        width: 100%;
        height: 100%;
         display: flex;
  justify-content: center;
        
    }
    .card .overlay-content{
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0,0.9);
        color:#fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50 px;
        overflow: hidden;
       position: absolute;
       transition: 0.5s;
       z-index: 1;
       top:0;
       left:100%;
       line-height: 6px;
       
    }
    .cr.slide-in  .overlay-content{
        
        transform:translateX(-100%);
    }
    
.cd{
    /* width: ; */
    height: 300px;
    overflow: hidden;
    position: relative;
    }
    .cd .main-d{
        width:100%;
        /* height: 63%; */
    }
    .cd .main-d img{
        width: 100%;
        height: 100%;
         display: flex;
  justify-content: center;
        
    }
    .cd .overlay-d  {
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0,0.7);
        color:#fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50 px;
        overflow: hidden;
       position: absolute;
       transition: 0.5s;
       z-index: 1;
       top:0;
       left:100%;
       line-height: 6px;
       
    }
    .cd.slide-d .overlay-d{
        
        transform:translateX(-100%);
    }

    .overlay-d a:hover{
     text-decoration: none;
     color: #fff;
     transition: 2s;
    }
    .overlay-d a{
        color:rgba(255,255,255, 0.7);
    }

    .overlay-content a{
        color:rgba(255,255,255, 0.7);
    }

    .overlay-c a{
        color:rgba(255,255,255, 0.7);
    }


    .overlay-c a:hover{
        text-decoration: none;
        color: #fff;
        transition: 2s;
       }

       .overlay-content a:hover{
        text-decoration: none;
        color: #fff;
        transition: 0.6s;
       }



    
    
.ch{
    height: 300px;
    overflow: hidden;
    
    position: relative;
    }
    .ch .main-c{
        width:100%;
        height: 63%;
        

    }
    .ch .main-c img{
        width: 100%;
        height: 100%;
         display: flex;

    
    }
    .ch .overlay-c{
        width: 100%;
        height: 100%;
        background-color:rgba(0, 0,0,0.7);
        color:#fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50 px;
        overflow: hidden;
       position: absolute;
       transition: 0.5s;
       z-index: 1;
       top:0;
       left:100%;
       line-height: 6px;
    }
    .ch.slide-i  .overlay-c{
        
        transform:translateX(-100%);
    }




.home:after {
	left: 8px;
	top: 168px;
	width: 255px;
	height: 2px;
	background: #666;
	
	border-radius: 125px / 1px;
	box-shadow: 0 0 5px #444, 0 0 8px #333, 0 0 10px #666;
}

.navbar{
    box-shadow: 0 2px 5px 0 rgba(61,65,96,.2),0 0 1px 0 rgba(61,65,96,.05);
}

.navbar-brand span:nth-child(4){
    position: absolute;
    width: 25px;
    height: 20px;
    background: #fff;
    top: -13px;
    right: 0;
    transform: rotate(25deg);
}
.nav-lib{
    padding-top: 10px;
    padding-bottom: 10px;
    transition: background 0.3s ease-in-out,color 0.3s;
    /* font-weight: 600; */
    border-radius: 5px;
}
.nav-lib:hover,.nav-lib{
    background: #e74c3c;
    color: #ffff!important;
}
/* .home{
    width: 100%;
    height: 400px;
    background:url("/storage/uploads/images/welcometwo.jpg")no-repeat ;
    background-size: cover;
    background-position: center;
    position: relative;
    
} */

.home:before {
	left: -5px;
	top: 167px;
	width: 280px;
	height: 4px;
	background: #aaa;

	border-radius: 140px / 2px;
	box-shadow: 0 0 5px #aaa, 0 0 10px #888, 0 0 15px #666;
}
.home:after {
	left: 8px;
	top: 168px;
	width: 255px;
	height: 2px;
	background: #666;
	
	border-radius: 125px / 1px;
	box-shadow: 0 0 5px #444, 0 0 8px #333, 0 0 10px #666;
}
.overlay-cool{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0 , 0.4);
}

.home .home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    width: 100%;
    text-align: center;
}

.home .home-title{

    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
}

