body {
    background: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 14rem;
    height: 20rem;
    background: #fff;
}

.swiper-slide .imgbx {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.swiper-slide .imgbx img {
    width:100%;
}

.swiper-slide .details {
    box-sizing: border-box;
    font-size: 20px;
   
}

.swiper-slide .details h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    text-decoration: none;
    color: #000;
}

.swiper-slide .details h3 span {
    font-size: 16px;
    color: #f44336;
}
.swiper-slide .details h3 .capitalize {
    font-size: 11px;
    color: #000;
}

.swiper-pagination-bullet{

    display: inline;
}

.swiper-button-next, .swiper-button-prev {

    position: absolute;
    top:23%;
    width: 50px;
    height: 29px;
margin-top: -240px;

}

.input-group-text{
    border-top-left-radius: 25px!important;
    border-bottom-left-radius: 25px!important;
    box-shadow: 0 2px 5px 0 rgba(61,65,96,.2),0 0 1px 0 rgba(61,65,96,.05);
}

.btn-outline-secondary{
    border:none;
    background: #f1f1f1;
    position: relative;
    border-radius: 0px!important;
}
.btn-outline-secondary:hover{
    box-shadow:none!important;
}

.form-control, .form-control-lg{
    border:none;
    /* border-top-right-radius: 25px!important;
    border-bottom-right-radius: 25px!important; */
    /* box-shadow: 0 2px 5px 0 rgba(58, 61, 83, 0.2),0 0 1px 0 rgba(67, 69, 83, 0.05); */
}
