.menu-toggle{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    right: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.menu-toggle span{
    display: block;
    width: 30px;
    height: 2px;
    background: #0e0c57;
    transition: .5s;
}
.menu-toggle span:first-child{
    margin-bottom: 7px;
}
.menu-toggle span:last-child{
    margin-top: 7px;
    border-radius: 5px;
}
.menu-toggle.active span:first-child{
    margin: 0;
    transform: rotate(45deg);
}
.menu-toggle.active span:last-child{
    margin: 0;
    transform: rotate(-45deg);
}
.menu-toggle.active span:nth-child(2){
    opacity: 0;
}
.full-menu{
    position: fixed;
    top: 70px;
    left: 0;
    width: 250px;
    height: 100%;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 20px 27px rgba(0,0,0,0.05);
    opacity: 0;
    visibility: visible;
    transform: translateX(-250px);
    transition: .5s;
}
.full-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateX(0px);
}
.full-menu .content-menu{
    position: relative;
    padding-left: 10px;
}
.full-menu .content-menu h1{
    color: #0e0c57;
    font-size: 25px;
}
.full-menu .content-menu ul{
    padding-left: 20px;
    list-style: none;
}
.full-menu .content-menu ul li{
    color: #0e0c57;
    display: block;
    width: 100%;
}
.full-menu .content-menu ul li a{
    color: #0e0c57;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-weight: 700;
}
.input-form{
    width: 90%;
}
.card-comment{
    padding: 30px 30px;
    background: #FBFBFB;
    border-radius: 10px;
}
.card-comment .avatar-com{
    display: inline-block;
    width: 40px;
    border-radius: 10px;
    height: 40px;
    position: relative;
    margin-right: 15px;
    background: #32E4CD;
    color: #fff;
    text-align: center;
    line-height: 40px;
}
.card-comment .avatar-com span{
   color: #fff;
   font-size: 18px;
}
.card-comment .block-com-content{
    width: 90%;
}
.card-comment h5{
    font-size: 14px;
    color: #0e0c57;
    font-weight: 600;
}
.card-comment p{
    font-size: 12px;
    margin-bottom: 0;
}
.card-comment span{
    color: #32E4CD;
    font-size: 12px;
}
.comment_scroll{
    position: relative;
    overflow: hidden;
    height: 750px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 20px 10px;
}
.card-show-teacher {
    position: relative;
    box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03);
    border-radius: 25px;
    margin-top: 20px;
}
.card-show-teacher .card-header {
    background: #ffff !important;
    border-radius: 25px 25px;
    color: rgb(60, 72, 88);
    position: relative;
    height: 120px;
}
.card-show-teacher .card-header .avatar-teacher {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 50%;
    bottom: -70px;
    transform: translate(-50%,-50%);
    border-radius: 25px;
    background: #fff;
    box-shadow: 0 5px 10px #0e0c572d;
}
.card-show-teacher .card-header .avatar-teacher img {
    position: absolute;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    border: 5px solid #fff;
}
.card-show-teacher .card-body {
    margin-top: 25px;
    position: relative;
}
.card-show-teacher .card-footer {
    position: relative;
    background: #fff;
    border-top: 1px solid #eff2f7 !important;
    border-radius: 0 0 25px 25px;
}
.card-show-teacher .card-footer .number {
    color: #0E0C57;
    font-size: 25px;
}
.card-calendar .content-teacher .text-left .btn {
    position: absolute;
    background: #f4f4f4 !important;
    border: none !important;
    z-index: 5;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: none;
    transition: .3s;
    padding: 5px 14px;
    border-radius: 7px;
    color: rgb(60, 72, 88);
}
.card-show-teacher .btn{
    background: #f4f4f4 !important;
    border: none !important;
    color: rgb(60, 72, 88);
    transition: .5s;
    margin-top: 20px;
}
.card-show-teacher .btn:hover {
    background: #6f42c1 !important;
    color: #fff;
}
.card-show-teacher .plus{
    position: absolute;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #f4f4f4;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-show-teacher .plus .sub_menu{
    position: absolute;
    width: 220px;
    background: #fff;
    right: 0;
    top: 70px;
    border-radius: 5px;
    box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.card-show-teacher .plus:hover .sub_menu{
    opacity: 1;
    top: 30px;
    visibility: visible;
}
.card-show-teacher .plus .sub_menu ul{
    list-style: none;
    padding-left: 0;
    margin-top: 10px;

}
.card-show-teacher .plus .sub_menu ul li{
    padding: 7px 15px;
    position: relative;
    color: rede;
}
.card-show-teacher .plus .sub_menu ul li .fa{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background: #6f42c1;
    border-radius: 100%;
    font-size: 12px;
}
.block-progress{
    background: #fff;
    padding: 20px 30px;
}
.block-progress .progess-content{
    margin-bottom: 20px;
}
.block-progress .progress{
    border-radius: 10px;
    position: relative;
    overflow: initial;
    margin-top: 10px;
    height: 10px;
}
.block-progress .progress .bar{
    width: 50%;
    height: 100%;
    background: #32E4CD;
    border-radius: 10px;
}
.block-progress .progress .pourcent{
    position: absolute;
    z-index: 1;
    top: -30px;
    right: 20px;
    font-size: 18px;
    font-weight: 700;
}
.block-progress h6{
    color: rgb(95, 98, 129);
}
.card-calendar #monthName{
    color: #0E0C57;
}
.card-img-lg{
    height: 250px!important;
}
.avatar-biblo-lg{
    width: 120px!important;
    height: 120px!important;
    bottom: -70px!important;
}
.card-biblo-lg h6{
    display: inline-block;
    font-size: 25px;
}
.card-biblo-lg .network-biblo a{
    font-size: 25px;
}
.card-biblo-lg h6 .fa{
    top: 7px;
}
.card-book .icon-book{
    background: #eeeded;
}
.content-teacher{
    position: relative;
}
.content-teacher .type{
    position: absolute;
    right: 20px;
    padding: 2px 7px;
    background: #F4F4F4;
    border-radius: 50px;
    font-size: 10px;
    top: 20px;
    display: inline-block;
}
.content-teacher .type.line{
    background: #32E4CD;
    color: #fff;
}
.content-teacher .type.offline{
    background: #fcc471;
    color: #fff;
}
#app{
    overflow-x: hidden;
}
.card-table{
    padding: 30px 50px;
    border-radius: 25px;
    position: relative;
}
.card-table h4{
    color: #0e0c57;
}
.card-table .add{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #f0f0f1;
    right: 50px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-table .add::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 25px;
    background: #5f6281;
}
.card-table .add::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 25px;
    background: #5f6281;
    transform: rotate(90deg);
}
.card-table td span.badge.public-news{
    background: #0E0C57;
    color: #fff;
}
.card-table td span.badge.private-news{
    background: #fcc471;
    color: #fff;
}
.modal-content{
    border: none;
}
.modal{
    z-index: 5000000!important;
}
.modal-backdrop{
    z-index: 500000;
}
.block-cours{
    position: absolute;
    background: #ffff;
    box-shadow: 0 20px 27px rgba(0,0,0,0.05);
    width: 250px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    border-radius: 10px;
    text-align: left;
    z-index: 3;
    right: -260px;
    transition: .3s cubic-bezier(.68,-0.55,.27,1.55);
    opacity: 0;
    visibility: hidden;
}
.card-sm-cours:hover .block-cours{
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%) scale(1);
}
.block-cours .content-cours{
    position: relative;
}
.block-cours .content-cours .item-cour{
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #eff2f7;
}
.block-cours .content-cours .item-cour:last-child{
    border: none;
}
.block-cours .content-cours .item-cour .logo-sm{
    box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03);
    position: absolute;
    background: #0e0c572f;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #0E0C57;
    text-align: center;
    font-size: 15px;
    border-radius: 7px;
}
.block-cours .content-cours .item-cour .name-cour{
    margin-left: 40px;
    line-height: 10px;
}
.block-cours .content-cours .item-cour .name-cour h6{
    color: #0E0C57;
    font-size: 14px;
    font-weight: 500;
}